---
import picDavid from "@/assets/david-and-lucy.jpg";

import PortableText from "@/components/PortableText/PortableText.astro";
import MediaTile from "@/components/content/MediaTile.astro";
import {
  Popover,
  PopoverContent,
  PopoverTrigger,
} from "@/components/content/Popover";
import SanityImage from "@/components/content/SanityImage.astro";
import TagsList from "@/components/content/TagsList.astro";
import Slider from "@/components/util/Slider.astro";
import { getNotesList } from "@/queries/note";
import { getProject } from "@/queries/project";
import { getBooksList } from "@/queries/resource";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import { Card, CardContent } from "@/components/ui/card";

const currentProjectIds = ["space-madness", "poly-love-life"];
const currentProjects = await Promise.all(currentProjectIds.map(getProject));

const recentBooks = await getBooksList({ order: "recent", limit: 6 });
const recentNotes = await getNotesList({ order: "recent", limit: 5 });
---

<Layout>
  <main>
    {/* Main Header */}
    <header class="content-container max-w-[900px]">
      <div
        class="flex flex-col items-center gap-5 sm:grid sm:grid-cols-2 sm:gap-10"
      >
        <Image
          src={picDavid}
          width={600}
          class="w-full max-w-[400px] rounded-full"
          alt="David and Lucy - my dog"
        />
        <div
          class="text-balance flex flex-col items-center justify-center gap-5 text-center text-2xl sm:text-start"
        >
          <p>Developer advocate, full stack engineer, dubious philosopher</p>
          <p>
            Currently developing <a href="https://spacemadness.dev/"
              >Space Madness</a
            > and writing my journey along the way
          </p>
          <p>
            I built and write for <a href="https://polylove.life/"
              >PolyLove.life</a
            > to educate people about <Popover>
              <PopoverTrigger>polyamory</PopoverTrigger><PopoverContent>
                The expansion of romantic relationships beyond two people with
                the consent and knowledge of all parties involved.
              </PopoverContent>
            </Popover>
          </p>
        </div>
      </div>
    </header>

    {/* Currently obsessed  */}
    <section class="mx-auto my-20 w-full max-w-[1200px] p-4">
      <h2 class="mb-5 text-2xl font-semibold md:text-4xl">
        Currently obsessing over...
      </h2>
      <div
        class="flex flex-col items-center gap-5 sm:grid sm:grid-cols-2 sm:gap-10"
      >
        {
          currentProjects.map((project) => {
            return (
              <figure>
                {project.mainImage && (
                  <SanityImage
                    image={project.mainImage}
                    width={600}
                    height={400}
                    class="w-full rounded-sm"
                    alt={`${project.title} homepage`}
                  />
                )}
                <figcaption>
                  <h3 class="my-4 text-xl font-semibold">{project.title}</h3>
                  {project.body && <PortableText value={project.body} />}
                  {project.tags && (
                    <TagsList
                      tags={project.tags}
                      asLinks={true}
                      className="my-4"
                    />
                  )}
                </figcaption>
              </figure>
            );
          })
        }
      </div>
      <div class="prose-custom my-10">
        <p class="">
          Want to see want else I've done? <br />Curious to know more about me?<br
          />
          <a href="/about" class="link">I'm an open book</a>, with lots of
          dog-eared pages
        </p>
      </div>
    </section>

    {/* Recently read */}
    <section class="mx-auto my-20 w-full max-w-[1200px] py-4">
      <h2 class="mx-4 mb-5 text-2xl font-semibold md:text-4xl">
        Reading and studying...
      </h2>
      <div>
        <Slider class="gap-4">
          {
            recentBooks.map((book) => (
              <MediaTile
                title={book.title}
                subtitle={book.creator}
                media={book.mainImage}
                format="book"
                class="p-4"
              />
            ))
          }
        </Slider>
      </div>
    </section>

    {/* Notes and Articles */}
    <section class="mx-auto my-20 w-full max-w-[1200px] p-4">
      <h2 class="mb-5 text-2xl font-semibold md:text-4xl">
        Thinking and writing about...
      </h2>
      <div class="flex flex-col gap-6">
        {
          recentNotes.map((note) => {
            return (
              <Card className="max-w-[50ch]">
                <CardContent>
                  <div class="prose-note trim-bottom">
                    <PortableText value={note.body} />
                  </div>
                </CardContent>
              </Card>
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
