---
import picDavid from "@/assets/david-and-lucy.jpg";
import PortableText from "@/components/PortableText/PortableText.astro";
import MediaTile from "@/components/content/MediaTile.astro";
import {
  Popover,
  PopoverContent,
  PopoverTrigger,
} from "@/components/content/Popover";
import SanityImage from "@/components/content/SanityImage.astro";
import TagsList from "@/components/content/TagsList.astro";
import { Badge } from "@/components/ui/badge";
import Slider from "@/components/util/Slider.astro";
import { splitIntoLines } from "@/lib/stringUtils";
import { getUrlForSanityType } from "@/lib/url";
import { getNotesList } from "@/queries/note";
import { getPostsList } from "@/queries/post";
import { getProject } from "@/queries/project";
import { getBooksList } from "@/queries/resource";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import AtlassianLogo from "@/components/svg/Atlassian";

const currentProjectIds = ["space-madness", "game-grid"];
const currentProjects = await Promise.all(currentProjectIds.map(getProject));

const digitalGardenLinks: { title: string; url: string }[] = [
  {
    title: "Digital Gardening",
    url: "tags/digital-garden",
  },
  {
    title: "Web Dev Tools",
    url: "tags/web-dev-toolbox",
  },
  {
    title: "Design",
    url: "tags/design",
  },
  {
    title: "Philosophy",
    url: "tags/philosophy",
  },
  {
    title: "Things I Like",
    url: "tags/things-i-like",
  },
  {
    title: "Tutorials",
    url: "tags/tutorial",
  },
  {
    title: "Web Dev",
    url: "resources/filter/webdev",
  },
  {
    title: "All Tags",
    url: "tags",
  },
];

const recentBooks = await getBooksList({ order: "recent", limit: 6 });
const recentNotes = await getNotesList({ order: "recent", limit: 5 });
const recentPosts = await getPostsList({ order: "recent", limit: 5 });
---

<Layout>
  <main>
    {/* Main Header */}
    <header class="content-container max-w-[900px]">
      <div
        class="flex flex-col items-center gap-5 p-4 sm:grid sm:grid-cols-2 sm:gap-10"
      >
        <Image
          src={picDavid}
          width={600}
          class="w-full max-w-[400px] rounded-full"
          alt="David and Lucy - my dog"
          loading="eager"
        />

        <div class="text-balance text-xl md:text-2xl flex flex-col gap-8">
          <p>
            Working at <AtlassianLogo
              className="h-[1.25rem] align-baseline inline mr-2"
            /><a href="https://www.atlassian.com/">Atlassian</a> on the Front
            End Developer Productivity Team for <a
              href="https://www.atlassian.com/software/confluence">Confluence</a
            >
          </p>

          <p>
            Front-end engineer, inconsistent writer, <a
              href="/tags/philosophy"
              class="link">dubious philosopher</a
            >
          </p>
        </div>
      </div>
    </header>

    {/* Currently obsessed  */}
    <section class="mx-auto my-20 w-full max-w-[1200px] p-4">
      <h2 class="mb-5 text-2xl font-semibold md:text-4xl">
        Currently obsessing over...
      </h2>
      <div
        class="flex flex-col items-center sm:items-start gap-5 sm:grid sm:grid-cols-2 sm:gap-10"
      >
        {
          currentProjects.map((project) => {
            const url = getUrlForSanityType("project", project.slug.current);
            return (
              <figure>
                {project.mainImage && (
                  <a href={url}>
                    <SanityImage
                      image={project.mainImage}
                      width={600}
                      height={400}
                      class="w-full rounded-sm"
                      alt={`${project.title} homepage`}
                    />
                  </a>
                )}
                <figcaption>
                  <a href={url}>
                    <h3 class="my-4 text-xl font-semibold hover:text-sky-500">
                      {project.title}
                    </h3>
                  </a>
                  {project.body && <PortableText value={project.body} />}
                  {project.tags && (
                    <TagsList
                      tags={project.tags}
                      asLinks={true}
                      className="my-4"
                    />
                  )}
                </figcaption>
              </figure>
            );
          })
        }
      </div>
      <div class="prose-custom my-10" data-pagefind-ignore>
        <p>
          Want to see more?
          <a href="/about" class="link">I'm an open book</a>, with lots of
          dog-eared pages
        </p>
      </div>
    </section>

    {/* Recently read */}
    <section class="mx-auto my-20 w-full max-w-[1200px] py-4">
      <h2 class="mx-4 mb-5 text-2xl font-semibold md:text-4xl">
        Reading and studying...
      </h2>
      <div>
        <Slider class="gap-4">
          {
            recentBooks.map((book) => (
              <MediaTile
                title={book.title}
                subtitle={book.creator}
                media={book.mainImage}
                format="book"
                class="p-4"
              />
            ))
          }
        </Slider>
      </div>
      <div class="prose-custom my-10 px-4" data-pagefind-ignore>
        <p>
          Head in the clouds, eyes and ears in
          <a href="/library" class="link">my library</a>
        </p>
      </div>
    </section>

    {/* Digital Garden */}
    <section
      class="mx-auto my-20 w-full max-w-[1200px] p-4"
      data-pagefind-ignore
    >
      <h2 class="mb-5 text-2xl font-semibold md:text-4xl">
        Explore my digital garden...
      </h2>
      <div>
        {
          digitalGardenLinks && (
            <div class="flex flex-wrap gap-6">
              {digitalGardenLinks.map((link) => {
                return (
                  <a href={link.url}>
                    <Badge variant="secondary" className="text-md">
                      {link.title}
                    </Badge>
                  </a>
                );
              })}
            </div>
          )
        }
      </div>
    </section>

    {/* Notes and Articles */}
    <section
      class="mx-auto my-20 w-full max-w-[1200px] p-4"
      data-pagefind-ignore
    >
      <h2 class="mb-5 text-2xl font-semibold md:text-4xl">
        Thinking and writing about...
      </h2>
      <div
        class="flex flex-col justify-start gap-6 sm:gap-8 md:flex-row-reverse lg:gap-20"
      >
        <div class="flex flex-1 flex-col gap-6">
          <h3 class="text-xl font-semibold text-primary/80 md:my-1">
            Recent <a href={getUrlForSanityType("post", "")} class="link"
              >Articles</a
            >
          </h3>
          {
            recentPosts.map((post) => {
              const lines = splitIntoLines(post.description ?? "");
              return (
                <Card className="max-w-[50ch]">
                  <CardHeader>
                    <a
                      href={getUrlForSanityType("post", post.slug.current)}
                      class="link"
                    >
                      <CardTitle className="leading-tight text-primary/80">
                        {post.title}
                      </CardTitle>
                    </a>
                  </CardHeader>
                  <CardContent className="prose-note trim-top trim-bottom">
                    {lines.map((line, i) => (
                      <p set:html={line} />
                    ))}
                  </CardContent>
                </Card>
              );
            })
          }
        </div>
        <div class="flex flex-shrink-0 flex-col gap-6">
          <h3 class="text-xl font-semibold text-primary/80 md:my-1">
            Recent <a href={getUrlForSanityType("note", "")} class="link"
              >Notes</a
            >
          </h3>
          {
            recentNotes.map((note) => {
              return (
                <Card className="max-w-[40ch]">
                  <CardContent>
                    <div class="prose-note trim-bottom mt-6">
                      <PortableText value={note.body} />
                    </div>
                  </CardContent>
                </Card>
              );
            })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
