---
import MetaTags from "@/components/MetaTags.astro";
import Layout from "@/layouts/Layout.astro";
import { titleTemplate } from "@/lib/metadata";
import { getAllNotes } from "@/queries/note";
import NoteCard from "@/components/content/NoteCard.astro";

const title = "My Notes";
const description = "Small thoughts, quotes, quick jokes";
const notes = await getAllNotes();
---

<Layout>
  <MetaTags
    title={titleTemplate(title)}
    description={description}
    slot="metadata"
  />

  <main>
    <header class="mx-auto my-10 w-full max-w-[1200px] p-4 sm:p-6">
      <h1
        class="mb-4 text-5xl font-bold tracking-wider text-primary/80 dark:text-primary/90"
      >
        {title}
      </h1>
      <h2 class="text-balance text-3xl text-muted-foreground">
        {description}
      </h2>
    </header>

    <section class="mx-auto my-20 w-full max-w-[1200px] p-4 sm:p-6">
      <div class="flex flex-wrap gap-6 sm:gap-8">
        {
          notes.map((note) => {
            return (
              <NoteCard
                body={note.body}
                prose="custom"
                class="w-full max-w-[50ch]"
              />
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
