---
import MetaTags from "@/components/MetaTags.astro";
import Layout from "@/layouts/Layout.astro";
import { titleTemplate } from "@/lib/metadata";
import { getAllNotes } from "@/queries/note";
import PortableText from "@/components/PortableText/PortableText.astro";

const title = "My Notes";
const description = "Small thoughts, quotes, quick jokes";
const notes = await getAllNotes();
---

<Layout>
  <MetaTags
    title={titleTemplate(title)}
    description={description}
    slot="metadata"
  />

  <main>
    <header class="mx-auto my-10 w-full max-w-[1200px] p-4 sm:p-6">
      <h1
        class="mb-4 text-5xl font-bold tracking-wider text-slate-700 dark:text-slate-200"
      >
        {title}
      </h1>
      <h2 class="text-balance text-3xl text-muted-foreground">
        {description}
      </h2>
    </header>

    <section class="mx-auto my-20 w-full max-w-[1200px] p-4 sm:p-6">
      <div class="grid gap-6 sm:gap-12">
        {
          notes.map((note) => {
            return (
              <div>
                <PortableText value={note.body} />
              </div>
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
